
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< phpunit/phpunit ###


###> Ignorer le dossier .idea de PhpStorm ###
/.idea/
###< Ignorer le dossier .idea de PhpStorm ###


###> Ignorer les fichiers de migration ###
/migrations/*.php
###< Ignorer les fichiers de migration ###