{# Footer #}
<footer class="bg-light text-center mt-auto gradient-basecolor-reverse-50">

	{# Grid container #}
	<div class="container py-3">

		{# Section: Social media #}
		<section>
			{# Facebook #}
			<a class="btn btn-primary btn-floating fs-4 m-1"
			   title="Facebook"
			   style="background-color: #3b5998"
			   href="#"
			   role="button"
			   data-mdb-ripple-duration="0"
			>
				<i class="fab fa-facebook-f"></i>
			</a>

			{# Twitter #}
			<a class="btn btn-primary btn-floating fs-4 m-1"
			   title="Twitter"
			   id="button"
			   style="background-color: #55acee"
			   role="button"
			   data-mdb-ripple-duration="0"
			>
				<i class="fab fa-twitter"></i>
			</a>

			{# Instagram #}
			<a class="btn btn-primary btn-floating fs-4 m-1"
			   title="Instagram"
			   style="background-color: #ac2bac"
			   href="#"
			   role="button"
			   data-mdb-ripple-duration="0"
			>
				<i class="fab fa-instagram"></i>
			</a>

			{# Linkedin #}
			<a class="btn btn-primary btn-floating fs-4 m-1"
			   title="Linkedin"
			   style="background-color: #0082ca"
			   href="#"
			   role="button"
			   data-mdb-ripple-duration="0"
			>
				<i class="fab fa-linkedin-in"></i>
			</a>

			{# Github #}
			<a class="btn btn-primary btn-floating fs-4 m-1"
			   title="Github"
			   style="background-color: #333333"
			   href="https://github.com/YetAnotherDevWannabe/Film_Collection"
			   role="button"
			   data-mdb-ripple-duration="0"
			>
				<i class="fab fa-github"></i>
			</a>

			{# Mail #}
			<a class="btn text-black-50 font-weight-bold rounded-pill bg-basecolor gradient-compliment-reverse text-mutted m-1 ms-md-4"
			   title="Contactez-nous"
			   href="{{ path('main_contact') }}"
			   role="button"
			   data-mdb-ripple-duration="0"
			>
				<i class="fas fa-mail-bulk me-2"></i>Contactez-nous
			</a>
		</section>

	</div>

	{# Copyright #}
	<div class="text-center py-3 gradient-basecolor">
		© 2021 Copyright:
		<a class="text-dark"
		   href="{{ path('main_copyright') }}"
		   style="text-decoration: underline"
		>
			La Taco's Dream Team
			<img src="{{ asset('img/tacos_dream_team.png') }}"
				 alt="logo"
				 height="35"
				 class="rounded-circle ms-1"
			>
		</a>
	</div>

</footer>