{# Footer #}
<footer class="bg-light text-center mt-auto gradient-basecolor-reverse-50">
	{# Grid container #}
	<div class="container p-4">

		{# Section: Social media #}
		<section class="mb-4">
			{# Facebook #}
			<a class="btn btn-primary btn-floating m-1"
			   style="background-color: #3b5998"
			   href="#"
			   role="button"
			>
				<i class="fab fa-facebook-f"></i>
			</a>

			{# Twitter #}
			<a class="btn btn-primary btn-floating m-1"
			   style="background-color: #55acee"
			   href="#"
			   role="button"
			>
				<i class="fab fa-twitter"></i>
			</a>

			{# Instagram #}
			<a class="btn btn-primary btn-floating m-1"
			   style="background-color: #ac2bac"
			   href="#"
			   role="button"
			>
				<i class="fab fa-instagram"></i>
			</a>

			{# Linkedin #}
			<a class="btn btn-primary btn-floating m-1"
			   style="background-color: #0082ca"
			   href="#"
			   role="button"
			>
				<i class="fab fa-linkedin-in"></i>
			</a>

			{# Github #}
			<a class="btn btn-primary btn-floating m-1"
			   style="background-color: #333333"
			   href="https://github.com/YetAnotherDevWannabe/Film_Collection"
			   role="button"
			>
				<i class="fab fa-github"></i>
			</a>
		</section>


		{# Section: Text #}
		<section class="mb-4">
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
				distinctio earum repellat quaerat voluptatibus placeat nam,
				commodi optio pariatur est quia magnam eum harum corrupti dicta,
				aliquam sequi voluptate quas.
			</p>
		</section>


		{# Section: Links #}
		<section class="">
			{# Grid row #}
			<div class="row">
				{# Grid column #}
				<div class="col-lg-3 offset-lg-1 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-start">Frameworks / Librairies</h5>

					<ul class="list-unstyled mb-0">
						<li class="text-start">
							<a href="https://symfony.com/" class="text-dark">Symfony</a>
						</li>
						<li class="text-start">
							<a href="https://twig.symfony.com/" class="text-dark">Twig</a>
						</li>
						<li class="text-start">
							<a href="https://mdbootstrap.com" class="text-dark">MDBootstrap</a>
						</li>
					</ul>
				</div>

				{# Grid column #}
				<div class="col-lg-3 offset-lg-1 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-start">Technologies</h5>

					<ul class="list-unstyled mb-0">
						<li class="text-start">
							<a href="https://www.php.net/" class="text-dark">PHP</a>
						</li>
						<li class="text-start">
							<a href="https://www.javascript.com/" class="text-dark">JavaScript</a>
						</li>
						<li class="text-start">
							<a href="https://developer.mozilla.org/en-US/" class="text-dark">HTML & CSS</a>
						</li>
					</ul>
				</div>

				{# Grid column #}
				<div class="col-lg-3 offset-lg-1 col-md-6 mb-4 mb-md-0">
					<h5 class="text-uppercase text-start">Liens utiles</h5>

					<ul class="list-unstyled mb-0">
						<li class="text-start">
							<a href="https://devdocs.io/" class="text-dark">devdocs.io</a>
						</li>
						<li class="text-start">
							<a href="https://stock.adobe.com/fr/" class="text-dark">Adobe stock</a>
						</li>
						<li class="text-start">
							<a href="https://www.w3.org/" class="text-dark">W3C</a>
						</li>
					</ul>
				</div>

			</div>
		</section>
	</div>

	{# Copyright #}
	<div class="text-center p-3 gradient-basecolor">
		© 2021 Copyright:
		{# TODO: Changer le lien avec la page copyright de Zana #}
		<a class="text-dark"
		   href="{{ path('main_copyright') }}"
		>
			La Taco's Dream Team
			<img src="{{ asset('img/tacos_dream_team.png') }}"
				 alt="logo"
				 height="35"
				 class="rounded-circle ms-1"
			>
		</a>
	</div>

</footer>