{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Suppression de l'avatar{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		{# Titre H1 #}
		<div class="row">
			<h1 class="col-12 text-center my-5">Suppression de l'avatar</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 offset-md-2">

				<div class="row">
					<div class="col-12 col-md-8 offset-md-2">

						{{ form(avatarDeleteForm) }}

					</div>
				</div>

			</div>
		</div>

	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}
