{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Modification de l'avatar{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

	{# Titre H1 #}
	<div class="row my-3">
		<h1 class="col-12 text-center my-5">Modification de l'avatar</h1>
	</div>

		<div class="row">
			<div class="col-12 col-md-4 offset-md-4">
				{{ form(avatarForm) }}
			</div>
		</div>

	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}
