{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Suppression de l'avatar{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

<div class="container-fluid py-5 my-5">
	<div class="row text-center">
		<h1 class="col-12 text-center my-5">Suppression de l'avatar</h1>
	</div>

	<div class="col-12 col-md-4 offset-md-4">
		<div class="row py-5">
			{{ form(avatarDeleteForm) }}
		</div>
	</div>
</div>

{% endblock %}

	{# Page footer #}
	{% block footer %}
		{% include 'partials/footer-small.html.twig' %}
	{% endblock %}

	{# Page JS #}
	{% block js %}{% endblock %}
