{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Modification du profil{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		{# Title #}
		<div class="row">
			<h1 class="col-12 text-center my-5">Modifiez ci-dessous vos données</h1>
		</div>

		{# Form to modify information #}
		<div class="row">
			<div class="col-12 col-md-5 col-lg-4 offset-md-4">
				{{ form(editDataForm) }}
			</div>
		</div>

	</div>

{% endblock %}

