{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block css %}{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="row">

			<div class="col-12 col-md-8 offset-md-2">
				<h1 class="text-center">Bienvenue chez le film collector !</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur dolorem, esse laboriosam laborum placeat praesentium ratione, recusandae rerum
					saepe sint, tenetur? Accusamus ad at explicabo quaerat quibusdam! Aliquam aut, consectetur eos est et facilis impedit laborum, natus nobis odit quasi, quia
					tempora. Aliquam dignissimos dolorem earum eveniet nemo numquam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur dolorem, esse laboriosam laborum placeat praesentium ratione, recusandae rerum
					saepe sint, tenetur? Accusamus ad at explicabo quaerat quibusdam! Aliquam aut, consectetur eos est et facilis impedit laborum, natus nobis odit quasi, quia
					tempora. Aliquam dignissimos dolorem earum eveniet nemo numquam.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consectetur dolorem, esse laboriosam laborum placeat praesentium ratione, recusandae rerum
					saepe sint, tenetur? Accusamus ad at explicabo quaerat quibusdam! Aliquam aut, consectetur eos est et facilis impedit laborum, natus nobis odit quasi, quia
					tempora. Aliquam dignissimos dolorem earum eveniet nemo numquam.
				</p>
			</div>

		</div>
	</div>

{% endblock %}

{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{% block js %}{% endblock %}
