{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Supprimez votre profil ici si vous le souhaitez{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container">
		<div class="row my-5">
			{{ form(form) }}
		</div>
	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}