@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
    /*color: var(--basecolordark);*/
    color: #3B5886; 
}

p {
    font-family: 'Open Sans', sans-serif; 
    color: var(--basecolordark); 
}
