@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap');

:root
{
	/* Alpha : 1 */
	--maincolor100   : #255196FF;
	--secondcolor100 : #3B82F6FF;
	--complimain100  : #EDBE5FFF;
	--complisec100   : #AD8B45FF;

	/* Alpha : 0.5 */
	--maincolor50    : #2858A580;
	--secondcolor50  : #3B82F680;
	--complimain50   : #EDBE5F80;
	--complisec50    : #AD8B4580;
}

h1, h2, h3, h4, h5, h6
{
	font-family : 'Montserrat', sans-serif;
}

p
{
	font-family : 'Open Sans', sans-serif;
}

form textarea,
#comment_collect_form_content,
form input,
#contact_form_subject,
#contact_form_email,
.input-bg-white
{
	background-color : #fff !important;
}

.fs-7
{
	font-size : .9rem !important;
}

.fs-8
{
	font-size : .8rem !important;
}

.mt-05
{
	margin-top : 3px !important;
}

.mb-05
{
	margin-b : 3px !important;
}

.stop-mdb
{
	overflow       : hidden !important;
	display        : initial !important;
	position       : initial !important;
	vertical-align : center !important;
}


/* Navbar */
/*--------*/
.gradient-basecolor
{
	background : var(--maincolor100);
	background : linear-gradient(to right, var(--maincolor100), var(--secondcolor100));
	/*background : -webkit-linear-gradient(to right, var(--maincolor100), var(--secondcolor100));*/
	box-shadow : 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
	/*color      : var(--complimain100);*/
	color      : #000;
}

.gradient-basecolor-reverse
{
	background : var(--secondcolor100);
	background : linear-gradient(to right, var(--secondcolor100), var(--maincolor100));
	/*background : -webkit-linear-gradient(to right, var(--secondcolor100), var(--maincolor100));*/
	box-shadow : 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);
	/*color      : var(--complimain100);*/
	color      : #000;
}

.gradient-compliment:hover
{
	background : var(--complimain100);
	background : linear-gradient(to right, var(--complimain100), var(--complisec100));
	/*background : -webkit-linear-gradient(to right, var(--complimain100), var(--complisec100));*/
	/*box-shadow : 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);*/
	/*color      : var(--maincolor100);*/
}

.gradient-compliment-reverse:hover
{
	background : var(--complisec100);
	background : linear-gradient(to right, var(--complisec100), var(--complimain100));
	/*background : -webkit-linear-gradient(to right, var(--complisec100), var(--complimain100));*/
	/*box-shadow : 0 2px 5px 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .1);*/
	/*color      : var(--maincolor100);*/
}

.text-maincolor
{
	color : var(--maincolor100);
}

.text-maincolor-hover:hover
{
	color : var(--maincolor100);
}

.text-maincolor-hover-underline:hover
{
	color : var(--maincolor100);
	text-decoration: underline;
}

.text-complimain
{
	color : var(--complimain100);
}

.text-complimain-hover:hover
{
	color : var(--complimain100);
}

.text-complimain-hover-underline:hover
{
	color : var(--complimain100);
	text-decoration: underline;
}

.bg-main_txt-comp
{
	background-color : var(--maincolor100);
	color            : var(--complimain100);
}

.bg-none_txt-comp
{
	background-color : transparent;
	color            : var(--complimain100);
}

.bg-main_txt-comp-hover:hover
{
	background-color : var(--maincolor100);
	color            : var(--complimain100);
}

.bg-comp_txt-main
{
	background-color : var(--complimain100);
	color            : var(--maincolor100);
}

.bg-none_txt-main
{
	background-color : transparent;
	color            : var(--maincolor100);
}

.bg-comp_txt-main-hover:hover
{
	background-color : var(--complimain100);
	color            : var(--maincolor100);
}

.search-outline-comp
{
	background-color : transparent;
	border           : .125rem solid var(--complimain100);
	color            : var(--complimain100);
	box-shadow       : none;
	text-decoration  : none;
	padding          : .625rem 1.5625rem .5625rem;
	font-size        : .875rem;
	line-height      : 1.6;
	padding          : 10px 15px;
}

.search-outline-comp:hover
{
	background-color : var(--complimain100);
	color            : var(--secondcolor100);
}

.search-outline-comp-collect
{
	background-color : transparent;
	border           : .125rem solid var(--complimain100);
	color            : var(--complimain100);
	box-shadow       : none;
	text-decoration  : none;
	padding          : .625rem 1.5625rem .5625rem;
	font-size        : .875rem;
	line-height      : 1.6;
	padding          : 10px 15px;
}

.search-outline-comp-collect:hover
{
	background-color : var(--complimain100);
	color            : white;
}

.dropdown-hr
{
	height     : 0;
	margin     : .5rem 0;
	overflow   : hidden;
	border-top : 1px solid rgba(0, 0, 0, .15);
}

.nav-drop-hover:hover
{
	background-color : #ebd7b4 !important;
	color            : var(--maincolor100) !important;
	border-radius    : .25rem !important;
}

.nav-drop-active
{
	background-color : #ebd7b4 !important;
	color            : var(--maincolor100) !important;
	border-radius    : .25rem !important;
}

.dropdown-menu-bg
{
	background-color : #a8c8fd !important;
	color            : var(--complimain100) !important;
}

.btn-nav-padding
{
	padding : .735rem 1.75rem !important;
}


/* Flash messages */
/*----------------*/
.bg-tw-success
{
	background-color : #10B981;
}

.color-tw-success
{
	font-weight : bold;
	color       : #10B981;
}

.bg-tw-info
{
	background-color : #3B82F6;
}

.color-tw-info
{
	font-weight : bold;
	color       : #3B82F6;
}

.bg-tw-warning
{
	background-color : #FBBF24;
}

.color-tw-warning
{
	font-weight : bold;
	color       : #FBBF24;
}

.bg-tw-danger
{
	background-color : #EF4444;
}

.color-tw-danger
{
	font-weight : bold;
	color       : #EF4444;
}

.tw-close
{
	position : relative;
}

.shadow-custom
{
	box-shadow : 2px 0 5px 0 rgba(0, 0, 0, .25) !important;
}

.bg-icon
{
	width : 70px;
}

.custom-border-radius
{
	border-radius : .6rem !important;
}

.border-radius-start
{
	border-radius : .6rem 0 0 .6rem !important;
}


/* Film list */
/*
.list-group
{
	padding-left : .75rem !important;
}*/

.list-group-gradient-main-50
{
	background : var(--maincolor50);
	background : linear-gradient(to right, var(--maincolor50), var(--secondcolor50));
	/*background : -webkit-linear-gradient(to right, var(--secondcolor50), var(--maincolor50));*/
}

.list-group-gradient-reverse-50
{
	background : var(--secondcolor50);
	background : linear-gradient(to right, var(--secondcolor50), var(--maincolor50));
	/*background : -webkit-linear-gradient(to right, var(--secondcolor50), var(--maincolor50));*/
}

.list-group-gradient-50
{
	background : var(--complimain50);
	background : linear-gradient(to right, var(--complimain50), var(--complisec50));
	/*background : -webkit-linear-gradient(to right, var(--complimain50), var(--complisec50));*/
}

.list-group-gradient-reverse-50-hover:hover
{
	background : var(--complisec50);
	background : linear-gradient(to right, var(--complisec50), var(--complimain50));
	/*background : -webkit-linear-gradient(to right, var(--complisec50), var(--complimain50));*/
}

.list-group-gradient-reverse-50-hover-2:hover
{
	background : var(--complimain50);
	background : linear-gradient(to right, var(--complimain50), var(--complisec50));
	/*background : -webkit-linear-gradient(to right, var(--complimain50), var(--complisec50));*/
}


/* Collect Cards */
/*---------------*/
.border-basecolor
{
	border-color : var(--maincolor100) !important;
}

.rounded-4
{
	border-radius : .4rem !important;
}

.rounded-5
{
	border-radius : .5rem !important;
}

.rounded-6
{
	border-radius : .6rem !important;
}

.text-modify
{
	color : #eb960f !important;
}

.text-delete
{
	color : #eb3255 !important;
}


/* Avatar Comment Collect */
/*------------------------*/
.comment-profil-photo
{
	width  : 84px;
	height : 84px;
}


/* film view */
/*-----------*/
.poster
{
	height : 300px !important;
}

.poster2
{
	height : 200px !important;
}

.bg-basecolor
{
	background-color : var(--maincolor100) !important;
}

.bg-compliment
{
	background-color : var(--complimain100) !important;
}

.progress-back
{
	background-color : var(--secondcolor50);
}


/* copyright */
/*-----------*/
#for-copyright-two
{
	padding            : 5%;
	-webkit-box-shadow : 8px 8px 10px 0px rgba(195, 206, 226, 0.58);-moz-box-shadow : 8px 8px 10px 0px rgba(225, 231, 240, 0.58);
	box-shadow         : 8px 8px 10px 0px rgba(225, 231, 240, 0.58);
}


/* Page de contact */
/*-----------------*/
.formulaire, .renseignements
{
	color : whitesmoke;
}

.contact-background
{
	background-color : var(--complisec100);
}

.contact-btn
{
	color       : whitesmoke;
	border      : .125rem solid whitesmoke !important;
	font-weight : bold;
}

.contact-btn:hover
{
	color            : var(--complisec100);
	border           : .15rem solid whitesmoke !important;
	background-color : whitesmoke;
	font-weight      : bold;
}


/* JS PROPERTY OVERLAY */
/*---------------------*/
.overlay
{
	position         : fixed;
	top              : 0;
	right            : 0;
	bottom           : 0;
	left             : 0;
	background-color : rgba(0, 0, 0, 0.6);
	display          : flex;
	align-items      : center;
	justify-content  : center;
}


.overlay img
{
	width : 65%;
}

#poster
{
	cursor : pointer;
}


/* Responsive */
/*------------*/
@media screen and (min-width : 768px)
{
	.custom-border-radius
	{
		border-radius : 0 .6rem .6rem 0 !important;
	}

	.overlay img
	{
		width : 25%;
	}
}