{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Ajouter film{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">
		<div class="row">
			<h1 class="col-12 text-center my-5">Ajouter un film à la collection</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 offset-md-2">
				{# Formulaire #}
				{{ form(filmForm) }}
			</div>
		</div>
	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}